<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>
      {{ brand ? 'Edit ' + brand.name : 'Create New Brand' }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="brandForm" novalidate>
    <ion-item-divider>
      Brand Details
    </ion-item-divider>
    <ion-item>
      <ion-label>Brand Name</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Give the brand name..."></ion-input>
    </ion-item>
    <span class="error" *ngIf="brandForm.get('name').hasError('maxlength')">
        Must be less than 20 characters.
      </span>
    <span class="error" *ngIf="brandForm.get('name').hasError('minlength')">
        Must be more than 2 characters.
      </span>
    <span class="error" *ngIf="brandForm.get('name').hasError('required')
      && brandForm.get('name').touched">
        Brand name is required.
      </span>
  </form>

  <div *ngIf="brand">
    <ion-item-divider>
      Linked Products
    </ion-item-divider>
    <ion-list>
      <ion-item *ngIf="!brand.products">There are no products linked to this brand.</ion-item>
      <ion-item *ngFor="let product of brand?.products">
        {{ product.sku }} - {{ product.description }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button *ngIf="brand" ion-button icon-left color="danger" (click)="delete()">
            <ion-icon name="trash" color></ion-icon>
            Delete
          </button>
        </ion-col>
        <ion-col>
          <button [disabled]="!brandForm.valid" ion-button icon-left color="secondary" (click)="save()" float-right>
            <ion-icon name="checkmark" color></ion-icon>
            Save
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-buttons>
</ion-footer>
