<ion-header>
  <ion-navbar>
    <ion-title text-center>Create New Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form [formGroup]="userForm">
    <ion-list>
      <ion-list-header class="header">
        <ion-icon name="people" item-start></ion-icon>
        Account Details
      </ion-list-header>

      <ion-item>
        <ion-input type="text" placeholder="First Name" formControlName="firstName"></ion-input>
      </ion-item>
      <span class="error" *ngIf="userForm.controls.firstName.hasError('maxlength')">
        Must be less than 40 characters.
      </span>
      <span class="error"
            *ngIf="userForm.controls.firstName.hasError('required') && userForm.controls.firstName.touched">
        First name is required.
      </span>


      <ion-item>
        <ion-input type="text" placeholder="Last Name" formControlName="lastName"></ion-input>
      </ion-item>
      <span class="error" *ngIf="userForm.controls.lastName.hasError('maxlength')">
        Must be less than 40 characters.
      </span>
      <span class="error" *ngIf="userForm.controls.lastName.hasError('required') && userForm.controls.lastName.touched">
        Last name is required.
      </span>


      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <span class="error" *ngIf="userForm.controls.email.hasError('required') && userForm.controls.email.touched">
        Email address is required.
      </span>


      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <span class="error" *ngIf="userForm.controls.password.hasError('required') && userForm.controls.password.touched">
        Password is required.
      </span>
      <span class="error"
            *ngIf="userForm.controls.password.hasError('maxlength') && userForm.controls.password.touched">
        Maximum length 15 characters.
      </span>
      <span class="error"
            *ngIf="userForm.controls.password.hasError('min length') && userForm.controls.password.touched">
        Minimum length 8 characters.
      </span>

      <ion-item>
        <ion-input type="password" placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <span class="error"
            *ngIf="userForm.controls.confirmPassword.hasError('MatchPassword') && userForm.controls.password.touched">
        Passwords do not match.
      </span>


      <ion-item no-lines>
        <ion-input type="text" placeholder="Organisation Reference" formControlName="accessCode"></ion-input>
      </ion-item>
      <span class="error"
            *ngIf="userForm.controls.accessCode.hasError('required') && userForm.controls.accessCode.touched">
        <ul>
          <li>Organisation ID is required.</li>
          <li>This is provided by your account administrator.</li>
        </ul>
      </span>
      <ion-item no-lines>
        <ion-grid class="orgid">
          <ion-row>
            <ion-col col-1>
              <ion-icon name="information-circle"></ion-icon>
            </ion-col>
            <ion-col col-11 text-wrap> Your organisation reference is a 6 digit code that identifies your organisation.
              Obtain this from your account administrator.
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer class="light">
  <ion-toolbar padding end>
    <div *ngIf="userForm.valid">
      <ion-badge color="secondary">
        <ion-icon name="checkmark"></ion-icon>
      </ion-badge>
      Great work! Now hit sign up...
    </div>
    <ion-buttons end right>
      <button ion-button (click)="register(userForm.value)" [disabled]="!userForm.valid">Sign up</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
