page-photo-modal {
  .thumbnail {
    position: relative;
    width: 50%;
    height: 200px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float:right;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }
}
