<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>
      {{ location ? 'Edit ' + location.name : 'Create New Location' }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="locationForm" novalidate>
    <ion-item-divider>
      Location Details
    </ion-item-divider>
    <ion-item>
      <ion-label>Location Name</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Give the location a name..."></ion-input>
    </ion-item>
    <span class="error" *ngIf="locationForm.get('name').hasError('maxlength')">
        Must be less than 30 characters.
      </span>
    <span class="error" *ngIf="locationForm.get('name').hasError('minlength')">
        Must be more than 3 characters.
      </span>
    <span class="error" *ngIf="locationForm.get('name').hasError('required')
      && locationForm.get('name').touched">
        Location name is required.
      </span>


    <ion-item>
      <ion-label>Location Type</ion-label>
      <ion-input type="text" formControlName="type" placeholder="i.e. Retail, High Street etc"></ion-input>
    </ion-item>
    <span class="error" *ngIf="locationForm.get('type').hasError('maxlength')">
        Must be less than 20 characters.
      </span>
  </form>

  <div *ngIf="location">
    <ion-item-divider>
      Linked Retailers
    </ion-item-divider>
    <ion-list>
      <ion-item *ngIf="location.retailers?.length == 0">There are no retailers linked to this location.</ion-item>
      <ion-item *ngFor="let retailer of location?.retailers | orderBy: retailer.name">
        {{ retailer.name }} - {{ retailer.type }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button *ngIf="location" ion-button icon-left color="danger" (click)="delete()">
            <ion-icon name="trash" color></ion-icon>
            Delete
          </button>
        </ion-col>
        <ion-col>
          <button [disabled]="!locationForm.valid" ion-button icon-left color="secondary" (click)="save()" float-right>
            <ion-icon name="checkmark" color></ion-icon>
            Save
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-buttons>
</ion-footer>
