<ion-content no-padding class="vertical-align-content">
  <ion-grid>
    <ion-row justify-content-center>
      <img src="../../../assets/imgs/MerchifyLogo.png" height="167" width="200"/>
    </ion-row>
    <ion-row padding-bottom="1em">
      <ion-col></ion-col>
    </ion-row>
    <form [formGroup]="signinForm">
      <ion-row justify-content-center>

        <ion-list>
          <!-- USER NAME INPUT -->
          <ion-item>
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
          <span class="error"
                *ngIf="signinForm.controls.email.hasError('required') && signinForm.controls.email.touched">
          Email is required.
      </span>
          <!-- PASSWORD INPUT -->
          <ion-item>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <span class="error"
                *ngIf="signinForm.controls.password.hasError('required') && signinForm.controls.password.touched">
          Password is required.
      </span>
        </ion-list>
      </ion-row>
      <ion-row justify-content-center>
        <button ion-button type="submit" (click)="signIn(signinForm.value)"
                [disabled]="!signinForm.valid">Sign In
        </button>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
