page-stock-check-modal {
  .total-row {
    border-top: 2px solid #666666;
    border-bottom: 1px solid #666666;
  }

  .header-row {
    background-color: #bbcbf4;
    border-bottom: 1px solid #37374a;
    font-size: 1.2em;
    padding: 1em 0;
  }

  .row {
    border-bottom: 1px solid #b4b4b4;
    padding-left: 1em;
  }

  .stock-input {
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    width: 70px;
  }

  input {
    text-align: center;
  }
}
