page-visit-report-modal {

  ion-row {
    padding-left: 0.5em;
    border-bottom: 1px solid #b4b4b4;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .total-row {
    border-top: 2px solid #666666;
    border-bottom: 1px solid #666666;
    padding-left: 0.5em;
    background-color: #3F51B5;
    color: #f4f4f4;
  }

  .header-row {
    font-weight: bold;
    background-color: #b8c1de;
    border-bottom: 1px solid #3F51B5;
    font-size: 1.2em;
    color: #3F51B5;
  }
}
