.my-checkbox {
  display: flex;
  align-items: center;
  align-content: left;
  margin-right: 1em;
}

.filters {
  padding: 1em;
}

.highlight {
  color: #1d191d;
}

h3 {
  font-weight: bold !important;
}

.underline {
  text-decoration: underline;
}

ion-card-content {
  padding: 0 1em!important;
}



