<ion-header>
  <ion-toolbar>
    <ion-title><img src="../../assets/imgs/logo.png" height="20" width="133"/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="signOut()">
        <ion-icon name="close" icon-left></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar (ionInput)="searchVisits()" [(ngModel)]="searchText"></ion-searchbar>
  <div class="filters">
    <div float-start class="my-checkbox">
      <ion-label text-uppercase>Completed</ion-label>
      <ion-checkbox [(ngModel)]="showCompleted" (ionChange)="searchVisits()">
      </ion-checkbox>
    </div>
    <div float-start class="my-checkbox">
      <ion-label text-uppercase>Scheduled</ion-label>
      <ion-checkbox [(ngModel)]="showScheduled" (ionChange)="searchVisits()">
      </ion-checkbox>
    </div>
  </div>
</ion-header>


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngIf="visits.length === 0">
      No visits found, better get cracking!
    </ion-item>
    <ion-item-group *ngFor="let group of visits | groupBy : 'state'">
      <ion-item-divider color="light">
        {{ group.key }} ({{ group.list.length }})
      </ion-item-divider>
      <ion-item *ngFor="let visit of group.list" (click)="openVisit(visit)">
        <h3>{{ visit.retailer.name }} ({{ visit.location.name }})</h3>
        <p>{{ (visit.actualArrival ? visit.actualArrival : visit.scheduledArrival) | amDateFormat:'ddd, DD/MM/YY' }}</p>
        <p>{{ visit.brand.name }}</p>
        <ion-badge text-left color="{{ getVisitBadgeColor(visit) }}" item-end>
          <div *ngIf="visit.state == 'Checked In' || visit.state == 'Scheduled'">{{visit.state }}</div>
          <div>
            {{ visit.state == 'Checked In'
            ? ((timeCheckedIn(visit) | number: '1.2-2').toString() + 'hrs') : ''}}

            {{ visit.state == 'Completed'
            ? ( 'Hours ' + (timeSpent(visit) | number: '1.2-2').toString()) : ''}}
          </div>
          <div>
            {{ (visit.state == 'Completed')
            ? ' Sales £' + (totalSales(visit) | number: '1.2-2') : ''}}
          </div>
          <div>
            {{ (visit.state == 'Completed') && expensesTotal(visit) > 0
            ? ' Expenses £' + (expensesTotal(visit) | number: '1.2-2') : ''}}
          </div>
          <div>
            {{ (visit.state == 'Completed') && visit.travelTime > 0
            ? ' Travel Time ' + (visit.travelTime | number: '1.2-2') : ''}}
          </div>
        </ion-badge>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab bottom right *ngIf="!activeVisit">
    <button ion-fab color="secondary" (click)="newAppointment()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="getMoreVisits($event)" loadingSpinner="bubbles" loadingText="Loading More Visits...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
