<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button color="danger" ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!visit.approvedExpenses && !visit.paidExpenses">Expenses: Pending</ion-title>
    <ion-title *ngIf="visit.approvedExpenses && !visit.paidExpenses">Expenses: Approved</ion-title>
    <ion-title *ngIf="visit.approvedExpenses && visit.paidExpenses">Expenses: Paid</ion-title>
    <ion-buttons end>
      <button color="secondary" ion-button icon-only (click)="saveAndClose()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>

  <ion-grid no-padding>
    <ion-row class="header-row">
      <ion-col><p>Travel</p></ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col col-3>Time</ion-col>
      <ion-col>Threshold</ion-col>
      <ion-col col-3>Rate/hr</ion-col>
      <ion-col col-3>Total</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <ion-input type="number" [(ngModel)]="visit.travelTime" [disabled]="visit.approvedExpenses"></ion-input>
      </ion-col>
      <ion-col col-3>
        <ion-label>{{ visit.travelTimeThreshold | number: '1.2-2' }}hrs</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ visit.travelRate | number: '1.2-2' }}/hr</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ ((visit.travelRate * (visit.travelTime - visit.travelTimeThreshold)) > 0 ?
          (visit.travelRate * (visit.travelTime - visit.travelTimeThreshold)) : 0) | number: '1.2-2' }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col col-3>Miles</ion-col>
      <ion-col>Threshold</ion-col>
      <ion-col col-3>Rate/m</ion-col>
      <ion-col col-3>Total</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <ion-input type="number" [(ngModel)]="visit.mileage" [disabled]="visit.approvedExpenses"></ion-input>
      </ion-col>
      <ion-col col-3>
        <ion-label>{{ visit.mileageThreshold | number: '1.2-2' }} miles</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ visit.mileageRate | number: '1.2-2' }}</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ ((visit.mileage - visit.mileageThreshold) * visit.mileageRate) > 0 ?
          ((visit.mileage - visit.mileageThreshold) * visit.mileageRate) : 0 | number: '1.2-2' }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="header-row">
      <ion-col><p>Expenses</p></ion-col>
    </ion-row>
  </ion-grid>

  <p-table [columns]="cols" [value]="visit.expenses" selectionMode="single" [(selection)]="selectedExpense"
           (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
      Click row to edit or delete
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          {{ rowData['expenseDate'] | amLocal | amDateFormat: 'DD/MM/YY' }}
        </td>
        <td>
          {{ rowData['description'] }}
        </td>
        <td>
          £{{ rowData['amount'] | number: '1.2-2'}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td>Total</td>
        <td></td>
        <td>
          £{{ expensesTotal() | number: '1.2-2' }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button ion-button icon-end (click)="showDialogToAdd()" *ngIf="!visit.approvedExpenses">Add
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </ng-template>

  </p-table>
</ion-content>



