<ion-header>
  <ion-navbar>
    <ion-title>
      Expenses
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>

  <ion-grid no-padding>

    <ion-row class="header-row">
      <ion-col><p>Visit Details</p></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3><b>Name</b></ion-col>
      <ion-col col-9>{{ visit.user.firstName + ' ' + visit.user.lastName }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3><b>Brand</b></ion-col>
      <ion-col col-9>{{ visit.brand.name }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3><b>Location</b></ion-col>
      <ion-col col-4>{{ visit.location.name }}</ion-col>
      <ion-col col-5>{{ visit.location.type }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3><b>Retailer</b></ion-col>
      <ion-col col-4>{{ visit.retailer.name }}</ion-col>
      <ion-col col-5>{{ visit.retailer.type }}</ion-col>
    </ion-row>

    <ion-row margin-top class="header-row">
      <ion-col><p>Time Reporting (Local time)</p></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6><b>Scheduled</b></ion-col>
      <ion-col col-3>{{ visit.scheduledArrival | amLocal | amDateFormat: 'DD/MM/YY' }}</ion-col>
      <ion-col col-3></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6><b>Check In</b></ion-col>
      <ion-col col-3>{{ visit.actualArrival | amLocal | amDateFormat: 'DD/MM/YY' }}</ion-col>
      <ion-col col-3>{{ visit.actualArrival | amLocal | amDateFormat: 'HH:mm Z' }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6><b>Check Out</b></ion-col>
      <ion-col col-3>{{ visit.actualDeparture | amLocal | amDateFormat: 'DD/MM/YY' }}</ion-col>
      <ion-col col-3>{{ visit.actualDeparture | amLocal | amDateFormat: 'HH:mm Z' }}</ion-col>
    </ion-row>


    <ion-row class="header-row" margin-top>
      <ion-col><p>Expense Report</p></ion-col>
    </ion-row>
  </ion-grid>

  <p-table [columns]="cols" [value]="visit.expenses" selectionMode="single" [(selection)]="selectedExpense"
           (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
      Click row to edit or delete
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          {{ rowData['expenseDate'] | amLocal | amDateFormat: 'DD/MM/YY' }}
        </td>
        <td>
          {{ rowData['description'] }}
        </td>
        <td>
          £{{ rowData['amount'] | number: '1.2-2'}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td>Total</td>
        <td></td>
        <td>
          £{{ expensesTotal() | number: '1.2-2' }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button ion-button icon-end (click)="showDialogToAdd()" *ngIf="!visit.approvedExpenses">Add
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </ng-template>

  </p-table>

  <ion-grid no-padding>
    <ion-row class="header-row" margin-top>
      <ion-col><p>Travel Report</p></ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col col-3>Time</ion-col>
      <ion-col>Threshold</ion-col>
      <ion-col col-3>Rate/hr</ion-col>
      <ion-col col-3>Total</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <ion-input type="number" [(ngModel)]="visit.travelTime" [disabled]="visit.approvedExpenses"></ion-input>
      </ion-col>
      <ion-col col-3>
        <ion-label>{{ visit.travelTimeThreshold | number: '1.2-2' }}hrs</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ visit.travelRate | number: '1.2-2' }}/hr</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ ((visit.travelRate * (visit.travelTime - visit.travelTimeThreshold)) > 0 ?
          (visit.travelRate * (visit.travelTime - visit.travelTimeThreshold)) : 0) | number: '1.2-2' }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col col-3>Miles</ion-col>
      <ion-col>Threshold</ion-col>
      <ion-col col-3>Rate/m</ion-col>
      <ion-col col-3>Total</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <ion-input type="number" [(ngModel)]="visit.mileage" [disabled]="visit.approvedExpenses"></ion-input>
      </ion-col>
      <ion-col col-3>
        <ion-label>{{ visit.mileageThreshold | number: '1.2-2' }} miles</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ visit.mileageRate | number: '1.2-2' }}</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ ((visit.mileage - visit.mileageThreshold) * visit.mileageRate) > 0 ?
          ((visit.mileage - visit.mileageThreshold) * visit.mileageRate) : 0 | number: '1.2-2' }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-grid>
      <ion-row align-items-center>
          <ion-col *ngIf="!visit.approvedExpenses && !visit.paidExpenses"><h2>Status: Pending</h2></ion-col>
          <ion-col *ngIf="visit.approvedExpenses && !visit.paidExpenses"><h2>Status: Approved</h2></ion-col>
          <ion-col *ngIf="visit.approvedExpenses && visit.paidExpenses"><h2>Status: Paid</h2></ion-col>

        <ion-col align-self-end style="text-align: right">
          <button ion-button icon-left color="secondary" (click)="saveAndClose()">
            <ion-icon name="checkmark" color></ion-icon>
            Save
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>



