<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button color="danger" ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!visit.approvedExpenses && !visit.paidExpenses">Expenses: Pending</ion-title>
    <ion-title *ngIf="visit.approvedExpenses && !visit.paidExpenses">Expenses: Approved</ion-title>
    <ion-title *ngIf="visit.approvedExpenses && visit.paidExpenses">Expenses: Paid</ion-title>
    <ion-buttons end>
      <button color="secondary" ion-button icon-only (click)="saveAndClose()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>

  <ion-grid no-padding>
    <ion-row class="header-row">
      <ion-col><p>Travel</p></ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col col-3>Time</ion-col>
      <ion-col>Threshold</ion-col>
      <ion-col col-3>Rate/hr</ion-col>
      <ion-col col-3>Total</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <ion-input type="number" [(ngModel)]="visit.travelTime" [disabled]="visit.approvedExpenses"></ion-input>
      </ion-col>
      <ion-col col-3>
        <ion-label>{{ visit.travelTimeThreshold | number: '1.2-2' }}hrs</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ visit.travelRate | number: '1.2-2' }}/hr</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ ((visit.travelRate * (visit.travelTime - visit.travelTimeThreshold)) > 0 ?
          (visit.travelRate * (visit.travelTime - visit.travelTimeThreshold)) : 0) | number: '1.2-2' }}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col col-3>Miles</ion-col>
      <ion-col>Threshold</ion-col>
      <ion-col col-3>Rate/m</ion-col>
      <ion-col col-3>Total</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <ion-input type="number" [(ngModel)]="visit.mileage" [disabled]="visit.approvedExpenses"></ion-input>
      </ion-col>
      <ion-col col-3>
        <ion-label>{{ visit.mileageThreshold | number: '1.2-2' }} miles</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ visit.mileageRate | number: '1.2-2' }}</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>£{{ ((visit.mileage - visit.mileageThreshold) * visit.mileageRate) > 0 ?
          ((visit.mileage - visit.mileageThreshold) * visit.mileageRate) : 0 | number: '1.2-2' }}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="header-row">
      <ion-col><p>Expenses</p></ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col col-2></ion-col>
      <ion-col><b>Date</b></ion-col>
      <ion-col col-5><b>Description</b></ion-col>
      <ion-col><b>Amount</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let x of visit.expenses" justify-content-center align-items-center>
      <ion-col col-2>
        <button ion-button icon-only
                icon-start small color="primary"
                (click)="updateExpense(x)" *ngIf="!visit.approvedExpenses">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-col>
      <ion-col>{{ x.expenseDate| amLocal | amDateFormat: 'DD/MM/YY' }}</ion-col>
      <ion-col col-5>{{ x.description}}</ion-col>
      <ion-col>£{{ x.amount | number: '1.2-2'}}</ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col col-2>
        <button ion-button
                icon-start small color="secondary"
                (click)="showDialogToAdd()" *ngIf="!visit.approvedExpenses">
          <ion-icon name="cash"></ion-icon>
          Add Expense
        </button>
      </ion-col>
      <ion-col col-5></ion-col>
      <ion-col></ion-col>
      <ion-col *ngIf="expensesTotal() > 0"><b>£{{ expensesTotal() | number: '1.2-2' }}</b></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>



