page-expenses-modal {

  ion-row {
    padding-left: 0.5em;
    border-bottom: 1px solid #b4b4b4;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .total-row {
    border-top: 2px solid #666666;
    border-bottom: 1px solid #666666;
    padding-left: 0.5em;
    background-color: #767176;
    color: #ffffff;
  }

  .header-row {
    font-weight: bold;
    background-color: #4b484b;
    color: #ffffff;
    border-bottom: 1px solid #1d191d;
    font-size: 1.2em;
  }

  ion-input {
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    width: 80%;
    padding: 0 0.3em;
  }

}
