<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button color="danger" ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      New Visit
    </ion-title>
    <ion-buttons end>
      <button color="secondary" ion-button icon-only (click)="save()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-divider color="light">
      <ion-icon name="calendar" icon-start></ion-icon>
      Scheduling
    </ion-item-divider>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YY" max="{{ max }}" [(ngModel)]="visit.scheduledArrival"></ion-datetime>
    </ion-item>

    <ion-item-divider color="light">
      <ion-icon name="calendar" icon-start></ion-icon>
      Appointment Particulars
    </ion-item-divider>

    <ion-item>
      <ion-label>Brand</ion-label>
        <ion-select [(ngModel)]="visit.brand" (ionChange)="brandSelected($event)"
        [compareWith]="compareFn">
          <ion-option *ngFor="let brand of brands | orderBy: 'name'" [value]="brand">{{ brand.name }}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Retailer</ion-label>
      <ion-select [(ngModel)]="visit.retailer" [disabled]="!visit.brand" (ionChange)="retailerSelected($event)"
                  [compareWith]="compareFn">
        <ion-option *ngFor="let retailer of retailers | orderBy: 'name'" [value]="retailer">{{ retailer.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label>Location</ion-label>
      <ion-select #locationSelect [(ngModel)]="visit.location" [disabled]="!visit.retailer"
                  [compareWith]="compareFn">
        <ion-option *ngFor="let location of locations | orderBy: 'name'" [value]="location">{{ location.name }}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>
