<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="saveVisit()">
        <ion-icon name="arrow-round-back" icon-left></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ activeVisit.brand.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-padding no-margin>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button class="action-button" ion-button [disabled]="activeVisit.actualArrival"
                (click)="checkIn(activeVisit)">
          <div>
            <ion-icon name="stopwatch"></ion-icon>
            <label>Check In</label>
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="action-button" ion-button
                (click)="changeTime('in')" [disabled]="!activeVisit.actualArrival">
          <div class="icon-with-badge">
            <ion-icon name="time"></ion-icon>
            <ion-badge class="icon-badge" color="secondary">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-badge>
              <label *ngIf="!activeVisit.actualArrival">Scheduled</label>
              <label *ngIf="!activeVisit.actualArrival">{{ activeVisit.scheduledArrival | amDateFormat: 'DD/MM/YY' }}</label>
              <label *ngIf="activeVisit.actualArrival">{{ activeVisit.actualArrival | amDateFormat: 'DD/MM/YY' }}</label>
              <label *ngIf="activeVisit.actualArrival">{{ activeVisit.actualArrival | amDateFormat: 'HH:mm' }}</label>
          </div>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button class="action-button" ion-button
                (click)="editVisit(activeVisit)" [disabled]="activeVisit.actualArrival">
          <div>
            <label class="title">{{ activeVisit.brand.name }}</label>
            <label>{{ activeVisit.retailer.name }}</label>
            <label>{{ activeVisit.location.name }}</label>
            <label>{{ activeVisit.user.firstName }}</label>
          </div>

        </button>
      </ion-col>
      <ion-col>
        <button class="action-button" ion-button (click)="takePhotos()"
                [disabled]="(!activeVisit.actualArrival && !activeVisit.actualDeparture)">
          <div class="icon-with-badge">
            <ion-icon name="camera"></ion-icon>
            <label>Photos</label>
            <label></label>
          </div>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button class="action-button" ion-button (click)="recordStockCheck('shelf')"
                [disabled]="(!activeVisit.actualArrival && !activeVisit.actualDeparture)">
          <div class="icon-with-badge">
            <ion-icon name="barcode"></ion-icon>
            <ion-badge *ngIf="isInventory()" class="icon-badge" color="secondary">
              <ion-icon name="checkmark"></ion-icon>
            </ion-badge>
            <label>Stock</label>
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="action-button" ion-button (click)="recordStockCheck('sales')"
                [disabled]="(!activeVisit.actualArrival && !activeVisit.actualDeparture)">
          <div class="icon-with-badge">
            <ion-icon name="basket"></ion-icon>
            <ion-badge *ngIf="isSales()" class="icon-badge" color="secondary">
              <ion-icon name="checkmark"></ion-icon>
            </ion-badge>
            <label>Sales</label>
          </div>

        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="action-button" ion-button (click)="openExpenses()"
                [disabled]="(!activeVisit.actualArrival && !activeVisit.actualDeparture)">
          <div class="icon-with-badge">
            <ion-icon name="cash"></ion-icon>
            <ion-badge *ngIf="isExpenses()" class="icon-badge" color="secondary">
              <ion-icon name="checkmark"></ion-icon>
            </ion-badge>
            <label>Expenses</label>
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="action-button" ion-button (click)="recordVisitNotes()"
                [disabled]="(!activeVisit.actualArrival && !activeVisit.actualDeparture)">
          <div class="icon-with-badge">
            <ion-icon name="clipboard"></ion-icon>
            <ion-badge *ngIf="isVisitNotes()" class="icon-badge" color="secondary">
              <ion-icon name="checkmark"></ion-icon>
            </ion-badge>
            <label>Notes</label>
          </div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="action-button" ion-button
                (click)="changeTime('out')" [disabled]="!activeVisit.actualDeparture">
          <div class="icon-with-badge">
            <ion-icon name="time"></ion-icon>
            <ion-badge class="icon-badge" color="danger">
              <ion-icon name="arrow-round-back"></ion-icon>
            </ion-badge>
            <label *ngIf="!activeVisit.actualDeparture && !activeVisit.actualArrival">00:00:00</label>
            <label *ngIf="activeVisit.actualDeparture">{{ activeVisit.actualDeparture | amDateFormat: 'DD/MM/YY' }}</label>
            <label>{{ activeVisit.actualDeparture ?
              (activeVisit.actualDeparture | amDateFormat: 'HH:mm') : clock }}
            </label>
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="action-button" ion-button (click)="checkOut(activeVisit)"
                [disabled]="activeVisit.actualDeparture || (!activeVisit.actualArrival && !activeVisit.actualDeparture)">
          <div>
            <ion-icon name="exit"></ion-icon>
            <label>Check Out</label>
          </div>

        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-datetime displayFormat="DD/MM/YYYY HH:mm Z"
                pickerFormat="DD MM YYYY HH mm Z" detail-push
                [(ngModel)]="activeVisit.actualArrival" hidden="true" icon-end #in></ion-datetime>
  <ion-datetime displayFormat="DD/MM/YYYY HH:mm Z"
                pickerFormat="DD MM YYYY HH mm Z" detail-push
                [(ngModel)]="activeVisit.actualDeparture" hidden="true" #out></ion-datetime>

</ion-content>
