<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>
      {{ retailer ? 'Edit ' + retailer.name : 'Create New Retailer' }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <h3 padding-left>Retailer Details</h3>
  <form [formGroup]="retailerForm" novalidate padding-bottom>
    <ion-item>
      <ion-label>Retailer Name</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Give the retailer a name..."></ion-input>
    </ion-item>
    <span class="error" *ngIf="retailerForm.get('name').hasError('maxlength')">
        Must be less than 20 characters.
      </span>
    <span class="error" *ngIf="retailerForm.get('name').hasError('minlength')">
        Must be more than 3 characters.
      </span>
    <span class="error" *ngIf="retailerForm.get('name').hasError('required')
      && retailerForm.get('name').touched">
        Retailer name is required.
      </span>


    <ion-item>
      <ion-label>Retailer Type</ion-label>
      <ion-input type="text" formControlName="type" placeholder="i.e. Department Store, Pharmacy etc"></ion-input>
    </ion-item>
    <span class="error" *ngIf="retailerForm.get('type').hasError('maxlength')">
        Must be less than 20 characters.
      </span>
  </form>

  <div *ngIf="retailer">
    <h2 padding-left>Links</h2>
    <button ion-button icon-left full color="light" (click)="toggleLocations()">
      <ion-icon name="{{ showLocations ? 'arrow-dropup-circle' : 'arrow-dropdown-circle' }}"></ion-icon>
      Locations ({{ retailer.locations?.length ? retailer.locations.length : 0 }})
     </button>

    <div *ngIf="showLocations">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterLocations()"></ion-searchbar>
      <ion-list>
        <ion-item *ngIf="retailer.locations?.length == 0">There are no locations linked to this retailer.</ion-item>
        <ion-item *ngFor="let location of filteredLocations | orderBy: 'name'">
          <ion-label>{{ location.name }}</ion-label>
          <ion-checkbox (ionChange)="locationChecked($event, location)"
                        [checked]="isLocationLinked(location)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="retailer">
    <button ion-button icon-left full color="light" (click)="toggleBrands()">
      <ion-icon name="{{ showBrands ? 'arrow-dropup-circle' : 'arrow-dropdown-circle' }}"></ion-icon>
      Brands ({{ retailer.brands?.length }})
    </button>

    <div *ngIf="showBrands">
      <ion-searchbar [(ngModel)]="brandSearchTerm" (ionInput)="filterBrands()"></ion-searchbar>
      <ion-list>
        <ion-item *ngIf="retailer.brands?.length == 0">There are no brands linked to this retailer.</ion-item>
        <ion-item *ngFor="let brand of filteredBrands | orderBy: 'name'">
          <ion-label>{{ brand.name }}</ion-label>
          <ion-checkbox (ionChange)="brandChecked($event, brand)"
                        [checked]="isBrandLinked(brand)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button *ngIf="retailer" ion-button icon-left color="danger" (click)="delete()">
            <ion-icon name="trash" color></ion-icon>
            Delete
          </button>
        </ion-col>
        <ion-col>
          <button [disabled]="!retailerForm.valid" ion-button icon-left color="secondary" (click)="save()" float-right>
            <ion-icon name="checkmark" color></ion-icon>
            Save
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-buttons>
</ion-footer>
