<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button color="danger" ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ type === 'sales' ? 'Record Sales' : type === 'shelf' ? 'Shelf Inventory' : 'System Inventory' }}
    </ion-title>
    <ion-buttons end>
      <button color="secondary" ion-button icon-only (click)="saveStock()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
        <ion-grid no-padding>
          <ion-row class="header-row">
            <ion-col col-9>Item</ion-col>
            <ion-col col-3>{{ type === 'sales' ? 'Qty Sold' : 'Qty' }}</ion-col>
          </ion-row>
          <ion-row class="row" *ngFor="let item of visit.stock | stockSold: type">
            <ion-col col-9>
              <p><b>{{item.product.description}}</b> {{item.product.size}}<br/>
              SKU {{item.product.sku}}</p>
            </ion-col>
            <ion-col col-3 align-self-center *ngIf="!visit.actualDeparture || isAdmin()">
              <ion-input item-end class="stock-input" no-padding *ngIf="type === 'system'"
                         type="number" [(ngModel)]="item.systemQty"
                         (ionFocus)="item.systemQty = null"></ion-input>

              <ion-input item-end class="stock-input" no-padding *ngIf="type === 'shelf'"
                         type="number" [(ngModel)]="item.onHand"
                         (ionFocus)="item.onHand = null"></ion-input>

              <ion-input item-end class="stock-input" no-padding *ngIf="type === 'sales'"
                         type="number" [(ngModel)]="item.qtySold"
                         (ionFocus)="item.qtySold = null"></ion-input>
            </ion-col>

            <ion-col col-3 align-self-center *ngIf="visit.actualDeparture && !isAdmin()">
              <p *ngIf="type === 'system'">{{ item.systemQty }}</p>
              <p *ngIf="type === 'shelf'">{{ item.onHand }}</p>
              <p *ngIf="type === 'sales'">{{ item.qtySold }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>
