<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button color="danger" ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ type === 'sales' ? 'Record Sales' : type === 'shelf' ? 'Shelf Inventory' : 'System Inventory' }}
    </ion-title>
    <ion-buttons end>
      <button color="secondary" ion-button icon-only (click)="saveStock()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
        <ion-grid no-padding>
          <ion-row class="header-row">
            <ion-col col-9>Item</ion-col>
            <ion-col col-3>{{ type === 'sales' ? 'Qty Sold' : 'Qty' }}</ion-col>
          </ion-row>
          <ion-row class="row" *ngFor="let item of visit.stock | stockSold: type">
            <ion-col col-9>
              <p><b>{{item.product.description}}</b> {{item.product.size}}<br/>
              SKU {{item.product.sku}} / {{item.product.barcode}}</p>
            </ion-col>
            <ion-col col-3 align-self-center>
              <ion-input item-end class="stock-input" no-padding *ngIf="type === 'system'" type="number" placeholder="0" [(ngModel)]="item.systemQty"></ion-input>
              <ion-input item-end class="stock-input" no-padding *ngIf="type === 'shelf'" type="number" placeholder="0" [(ngModel)]="item.onHand"></ion-input>

              <ion-input item-end class="stock-input" no-padding *ngIf="type === 'sales'" type="number" placeholder="0" [(ngModel)]="item.qtySold"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>
